<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" allowLocation="true" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="NancyAspNetHost" additivity="false">
      <level value="INFO" />
      <appender-ref ref="ComponentAppender" />
    </logger>
    <appender name="ComponentAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/App-" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  [%t]  %-5p  %c  [%x]  -  %m%n" />
      </layout>
    </appender>
  </log4net>
  
  <appSettings>
    <add key="EnableGzip" value="1"/>
    <add key="WebRoot" value="http://192.168.10.15" />
    <add key ="Server" value="http://192.168.10.15:1984"/>
    <!--sms 202.187.183.151 config-->
    <add key="SmsServerIP" value="app.cloopen.com"/>
    <add key="SmsServerPort" value="8883"/>
    <add key="SmsServerID" value="8a48b5514e8a7522014e9bbd91951735"/>
    <add key="SmsServerToken" value="36a3debf8eed4997a87d2d64b9c1ec35"/>
    <add key="SmsServerAppID" value="aaf98f894e999d73014e9bbfe40803fb"/>
    <add key ="SmsTemplateID" value="27493"/>
    <add key="SmsExpriedMin" value="2"/>

    <!--七牛配置 开始-->
    <add key ="CurrentImageServerID" value="1"/>

    <add key="USER_AGENT" value=""/>
    <add key="ACCESS_KEY" value="wtvC12NVbsI7xvG0Q7pvkqfKzHrqL5ose5kngtae"/>
    <add key="SECRET_KEY" value="lVf1kqE8GQt_Oe6mdfDmBNsoJQEIRjh-MZnOY_-Q"/>
    <add key="RS_HOST" value=""/>
    <add key="UP_HOST" value=""/>
    <add key="RSF_HOST" value=""/>
    <add key="PREFETCH_HOST" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--七牛空间名称称 -->
    <add key="Bucket" value="testmars"/>
    <!--七牛配置 开始-->
    <!--评论功能-->
    <add key="UserAnonymousHeader" value="http://7xkwie.com2.z0.glb.qiniucdn.com/20160112/aaa9f598-ce52-4225-af35-d83574600bdd.jpg"/>
    <!--评论功能-->
  </appSettings>
  <connectionStrings>
    <add name="MarsDB" connectionString="server=EDWARD-OBWEB;database=OB_MARS;uid=sa;pwd=sa."/>
    <add name="MarsDB_Dev" connectionString="server=EDWARD-OBWEB;database=OB_MARS;uid=sa;pwd=sa."/>
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />

    
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>

  <system.webServer>
    
    <httpErrors existingResponse="PassThrough" />
    
  <validation validateIntegratedModeConfiguration="false" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
</configuration>
