<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--正式环境连接字符串-->
    <add name="MarsDB" connectionString="server=192.168.10.15;database=OB_MARS;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient"/>
    <!--开发用连接字符串-->
    <add name="MarsDB_Dev" connectionString="server=192.168.10.15;database=OB_MARS;uid=sa;pwd=sa.;min pool size=10;max pool size=300;Connection Timeout=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--注册脚本-->
  <!--D:\WordCheckService\Mars.Server.WordCheckService.exe install-->
</configuration>